<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
      
<head>
<meta charset="ISO-8859-1" />
<title>Calculadora</title>
</head>

<body>
<h2> Calculadora </h2>

<form method="POST" action="/calcular"> 
<input type="number" name="numero1" placeholder="numero 1" required/> 
<select  name="operacao" >
<option value="somar"> + </option>
<option value="diminuir"> - </option>
<option value="multiplicar"> * </option>
<option value="dividir"> / </option>

</select> 
<input type="number" name="numero2" placeholder="numero 2" required/> 
<input type="submit" value="calcular"/> 
  </ form> 



</body>
</html>